@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #222b1a;
    --secondary-color: #f38b04;
    --accent1-color: #97a7c4;
    --accent2-color: #6F7365;

    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Playfair Display', serif;

    --nav-background-color: #d4def1;
    --nav-link-color: #222b1a;
    --nav-hover-link-color: #f38b04;
    --nav-hover-background-color: #d4def1;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color); 
    color: var(--secondary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
* {
	margin: 0;
	padding: 0;
}

main {
	max-width: 960px;
	margin: 2rem auto;
	font-family: Open Sans, Playfair, sans-serif;
}
div {
    position: realive;
}

div h1 {
    position: absolute;
    top: 70px;
    left: 25%;
    color: var (--accent2-color);
}

div article {
    position: absolute;
    bottom: 100px;
    background-color: rgb(255, 183, 3, 0.70);
    width: 50%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* #article-image {
    float: right;
    padding: 1px;
    width: 2px;
    height: auto;
} */