* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    padding: 20px 20px 20px;
}

:root {
    --primary-color: #222b1a;
    --secondary-color: #f3cb04;
    --accent1-color: #303d38;
    --accent2-color: #000000;
    --heading-font: 'Open Sans',serif;
    --paragraph-font: 'Playfair Display',serif;
    --nav-background-color: #303d38;
    --nav-link-color: #a9b6ca;
    --nav-hover-link-color: #FDFBFC;
    --nav-hover-background-color: #222b1a;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    padding: 20px;
    font-size: 1.5rem;
}

header {
    display: grid;
    grid-template-columns : auto auto;
    justify-content: space-around;
    padding: 10px;
    background-color: #303d38;
    color: var(--secondary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: #303d38;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display : block;
    color: var(--nav-link-color);
    text-decoration : none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: #222b1a;
}

footer {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto;
    padding: 16px;
    background-color: #222b1a;
    color: var(--nav-link-color);
}

.sociallinks {
    background-color: #222b1a;
    display: flex;
    align-items : center;
    justify-content: space-around;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 15%;
    text-align: center;
    width: 100%;
    color: var(--primary-color);
    background-color: #a9b6ca;
    opacity: 75%;
}

.hero img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.hero article {
    position: absolute;
    top: 180px;
    background-color: #f3cb04;
    margin: 0 3rem 0 3rem;
    opacity: 95%;
}

.hero article img {
    float: right;
    width: 250px;
    height: auto;
    margin: 1rem 1rem 1rem 1rem;
}

.hero article p {
    color: var(--primary-color);
}

.section1 {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    padding: 15px;
}

.history-section {
    display: flex;
    justify-content: space-around;
}

.history-image {
    padding: 25px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f3cb04;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.section h2 {
    color: var(--secondary-color);
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gallery img {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    padding: 1px;
    width: auto;
    height: 150px;
}
   
figcaption {
    padding: 10px;
    font-size: 0.7rem;
}

.section3 {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.messagetitle h2 {
    color: var(--primary-color);
    text-align: center;
}

form {
    width: 350px;
    margin: 0 auto;
    padding: 1rem;
    border: rgb(0, 0, 0, 0.1) solid 1px;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: 0.7rem;
    margin: 0.5rem;
    border: rgb(0, 0, 0, 0.2) solid 1px;
    padding: 1rem;
}

.send-message {
    grid-column: 1;
    margin: 0;
}

.map {
    grid-column: 2;
}

.map p {
    line-height: 0.1;
    margin: 0;
}

table, th, td {
    border: solid 1px;
    padding: 10px;
    width: 100%;
}

.section1 table th {
    background-color: #a9b6ca;
}

form3 {
    margin: auto;
    display: grid;
    width: 100%;
}

    button {
    justify-self: center;
    color: rgb(0, 0, 0);
    background-color: #f3cb04;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
}
    
button:hover {
    background-color: darkorange;
}

.hero2 {
    position: relative;
}

.hero2 p {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 75%;
    color: var(--primary-color);
    background-color: #a9b6ca;
    opacity: 75%;
    font-size: 13px;
}

.hero2 h1 {
    position: absolute;
    top: 15%;
    text-align: center;
    width: 75%;
    color: var(--primary-color);
    background-color: #a9b6ca;
    opacity: 75%;
    font-size: 13px;
}

.hero2 img {
    width: 75%;
    height: 350 0;
    margin-top: 1rem;
}

.section4 {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.messagetitle h2 {
    color: var(--primary-color);
    text-align: center;
}