@import url('https//fonts.googleleapis.com/css?family=Josefin+Sans&family=Roboto&display=swap');

:root {
    --primary-color: #99DDC8;
    --secondary-color: #95bf74;
    --accent1-color: #659b5e;
    --accent2-color: #556f44;

    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #fff;
    --nav_link-color: #064e8d;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #253031;
}

body {
    max-width: 960px;
    padding: 20px;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color); 
    color: var(--secondary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}