nav {
    background-color: #1f514c;
    padding: 10px;
}
nav a {
    color: #ecf9f9;
    display: block;
    padding: 20px;
}

h1 {
    color: #1f514c;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid #1f514c;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}


main {
    max-width: 850px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #1f514c(0, 0, 0, 0.2);
    padding: 1rem;
    /* background-color: #eee; */
    background-color: #c1fbfb;
    /* color: #333; */
    color: #1f514c; 
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #1f514c;
    text-align: center;
}